<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{navbar.html :: head}">
  <title>Gestion des duplicatas factures</title>
<body>
  <div th:replace="~{navbar.html :: nav_bar}"></div>
  <div class="container-parent">
    <div class="container-box">
      <div class="alert alert-secondary container-top">
        <h1 class="mb-3 text-center">Export invoices :</h1>
      </div>
      <form method="post" th:action="@{/export}" style="margin: 5%;">
        <div class="row align-items-start">
          <div class="col">
            Localité
            <hr>
            <input class="form-control" type="number" name="localite">
          </div>
          <div class="col">
            gerance
            <hr>
            <div class="input-group mb-3">
              <select class="form-select" name="gerance">
                <option selected>Choose...</option>
                <option value="WATER">eau</option>
                <option value="ELECTRICITY">éléctricité</option>
              </select>
            </div>
      
          </div>
          <div class="col">
            Police
            <hr>
            <input class="form-control" type="number" name="police">
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1">
          <label class="form-check-label" for="flexRadioDefault1">
            <div class="row align-items-start">
              <div class="col">
                1 mois
              </div>
              <div class="col">
                <input class="form-control" type="date" name="m1" style="margin-top: -2%;">
              </div>
            </div>
          </label>
        </div>
      
        <div class="form-check" style="margin-top: 2%;">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked value="2">
          <label class="form-check-label" for="flexRadioDefault2">
            <div class="row align-items-start">
              <div class="col">
                De
              </div>
              <div class="col">
                <input class="form-control" type="date" name="sm" style="margin-top: -2%;">
              </div>
              <div class="col">
                à
              </div>
              <div class="col">
                <input class="form-control" type="date" name="em" style="margin-top: -2%;">
              </div>
            </div>
      
      
          </label>
        </div>
        <button type="submit" class="btn btn-sm btn-success col-4" style="margin: 5%;">
          download
        </button>
      </form>
      <div id="error" class="alert alert-danger container-bottom"></div>
    </div>
  </div>
  <div class="modal modal-lx fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Requested invoices</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row" id="invoice-container">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="exportAll()">Download All</button>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/jspdf.umd.min.js.js}" type="text/javascript"></script>
  <script defer th:src="@{/js/export.js}" type="text/javascript"></script>
</body>

</html>