<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{navbar.html :: head}">
  <title>Gestion des duplicatas factures</title>
<body>
  <div th:replace="~{navbar.html :: nav_bar}"></div>
  <div class="container-parent">
    <div class="container-box">
      <div class="alert alert-secondary container-top">
        <h1 class="mb-3 text-center">Import invoices :</h1>
      </div>
      <form method="post" th:action="@{/import}" enctype="multipart/form-data">
        <div class="row">
          <div class="col mb-3" style="margin: 5%;">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" name="check" id="localiteSwitch" value="0">
              <label class="form-check-label form-label" for="localiteSwitch">Localité ?</label>
            </div>
            <input type="number" class="form-control" id="InputLocalite" name="localite" disabled>
          </div>
          <div class="col mb-3" style="margin: 5%;">
            <label for="InputPolice" class="form-label">Police</label>
            <input type="number" class="form-control" id="InputPolice" name="police" disabled>
          </div>
          <div class="col input-group mb-3" style="margin: 5%;">
            <select class="form-select" name="gerance">
              <option selected>gérance</option>
              <option value="WATER">eau</option>
              <option value="ELECTRICITY">éléctricité</option>
            </select>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <input class="form-control col-8" type="file" accept=".txt" id="formFileMultiple" multiple
              style="position: relative;margin: 5%;width:90%;" name="files">
            <button class="btn btn-sm btn-success float-right col-4" type="submit" style="margin: 5%;">Upload</button>
          </div>
        </div>
      </form>
      <div id="error" class="alert alert-danger container-bottom"></div>
    </div>
  </div>
  <script type="text/javascript">
      const localite = document.getElementById('InputLocalite');
      const police = document.getElementById('InputPolice');
      const check = document.getElementById('localiteSwitch'); 
      check.onchange = (e) => {
        localite.toggleAttribute("disabled");
        police.toggleAttribute("disabled");
      }
      $("form").on("submit", function (e) {
        e.preventDefault();
        const url = $(this).attr("action");
        const formData = new FormData(this);
        $.ajax({
          type: "POST",
          url: url,
          data: formData,
          contentType: false,
          processData: false,
          success: function (data) {
            window.location.href = window.location.origin + "/import";
          },
          error: function (data) {
            const err = $("#error");
            err.text(data.responseText);
            err.show();
          },
        });
      });
  </script>
</body>

</html>