<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{navbar_users.html :: head}">
  <title>Gestion des duplicatas factures</title>

<body>
  <div th:replace="~{navbar_users.html :: nav_bar}"></div>

  <table id="table" class="table-light table-bordered table-striped">
    <thead>
      <tr>
        <th>Role</th>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.role}"/>
        <td th:text="${user.id}" />
        <td th:text="${user.username}" />
        <td th:text="${user.email}" />
        <td th:text="${user.category}" />
      </tr>
    </tbody>
  </table>
  <script defer th:src="@{/js/navbar_users.js}" type="text/javascript"></script>
</body>

</html>